# Visual Studio
.vs/
Debug/
Release/
x64/
x86/
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.log
*.ipch
*.aps
*.ilk
*.ncb
*.sdf
*.opensdf
*.tlog
*.VC.db
*.vcxproj.user


*.tmp
*.bak

*.exe
*.dll
*.lib
*.mp4
*.zip
